extends layout

block content
  .container
    h1 Add Interest

    form(action="/add-interest" method="POST")
      label(for="interest") Enter Your Interest:
      input(type="text" name="interest" required)
      button(type="submit") Add Interest
