doctype html
html
  head
    title Recipe Swap
    link(rel="stylesheet", href="/styles.css?v=1.0")
  body
    h1 Recipe Swap
    nav
      a(href="/") Home
      a(href="/users") Users
      a(href="/recipes") Recipes
    block content


